.home-page {
    height: 100dvh;
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.all-container-home {
    height: 80%; /*Dont change*/
    width: 100%;
    overflow: auto;
    display: flex;
}

.home-container {
    position: absolute;
    top: 10%;
    left: 0%;
    width: 100vw;
    height: 80dvh;
}
