.container-favorites {
    width: 100%;
    height: 100%;
}

.box-backArrow {
    position: absolute;
    left: 0;
}

.box-menuTitule {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.box img {
    width: 100%;
    height: 100%;
}

.menuTitule-h5 {
    position: absolute;
    top: 0;
    text-align: center;
}

.box-carruselItems {
    display: flex;
    width: 100%;
    height: 10%;
    overflow-x: auto;
    padding-top: 1rem;
    gap: 2rem;
    padding-left: 1.5rem;
    border-bottom: 1px solid black;
}

.subBox-carruselItems {
    display: flex;
    gap: 20px;
    margin-bottom: 0.5rem;
}

.icon-carruselItems {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.image-carruselItems {
    width: 60px;
    height: 60px;
    background-color: #703A31;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.image-carruselItems img {
    width: 50%;
    height: 50%;
    filter: invert(1);
}

.text-carruselItems {
    font-size: 14px;
    color: #333;
}

/* Para ocultar la barra de desplazamiento en algunos navegadores */
.box-carruselItems::-webkit-scrollbar {
    display: none;
}

.box-carruselItems {
    -ms-overflow-style: none;
    scrollbar-width: none;
}