.container-favorites {
    width: 100%;
    height: 100%;
}

.box-backArrow {
    position: absolute;
    left: 0;
}

.box-menuTitule {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 10%;
    align-items: center;
    justify-content: center;
    /* border: 1px solid red; */
}

.box img {
    width: 100%;
    height: 100%;
}

.menuTitule-h5 {
    position: absolute;
    top: 0;
    text-align: center;
}